/* Styles for the ad */
* {
    font-family: 'Open Sans', sans-serif;
}

.ad-section {
    background-color: #ffff;
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.ad-text {
    margin-left: 10%;
    width: 45%;
}

.ad-paragraph {
    color: #9da1a4;
}

.container-sm {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ad-sm {
    padding: 1rem 1rem 0 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.ad-facebook {
    color: #3B5999;
}

.ad-twitter {
    color: #55ACEE;
}

.ad-instagram {
    color: #E4405F;
}

.ad-sm-subtitle {
    align-self: flex-end;
}

.icon {
    position: absolute;
    font-size: 30px;
}

/* Styles for the header */

.head {
    background-color: #2F353A;
    display: flex;
    justify-content: space-around;
}

.head-logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-menu {
    width: 55%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.head-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.menu-link {
    text-decoration: none;
    opacity: 0.5;
}

.head-item>.menu-link:hover {
    opacity: 1;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.menu-item {
    list-style: none;
    color: #fff;
}

.form-search {
    background: #262A2E;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 0.5rem;
}


.menu-item-input {
    background-color: transparent;
    padding: 0.5rem;
    border: 0;
    caret-color: #fff;
}

.menu-item-input:focus {
    outline: none;
}

.menu-item-input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.form-btn {
    background-color: transparent;
    border: transparent;
    height: 100%;
    padding-right: 0.5rem;
    cursor: pointer;
    color: #fff;
}

.user-btn {
    padding: 1rem;
    background-color: #262A2E;
    border: 0;
    color: #fff;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    cursor: pointer;
}

.user-btn::after {
    content: "Login";
}

.item-fb {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.2rem;
    background: linear-gradient(to bottom,rgba(0,130,188,1) 0%,rgba(30,91,156,1) 100%);
}

/* main section below */

.main-container {
    display: flex;
    background-color: #3B5999;
    padding:1rem;
    margin:1rem;
    justify-content: space-between;
}

/* main left section below */

.main-left-section{
    width: 30%;
    background-color: blueviolet;
    padding:1rem;
    margin:1rem;
    
}

.fb-ad-container{
    background-color:green;
}   

.fb-ad {
    background-color:grey;
    padding:0.5rem;
}

.ad{
    background-color:green;
}

.ab-container {
    background-color:red;
    margin:1rem;
    
}

.ab-title {
  display:flex;
  justify-content:  space-between; 
  align-items: center;
  padding:1rem; 
} 

.ab-single-box{
    background-color:brown;
    margin-bottom:1rem;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.ab-icon-name{
    display:flex;
    align-items:center;
    font-size: 1rem;
}

.ab-tag{
    background-color:#01bcf3;
    color: #fff;
    padding:0.5rem;
    width:3rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

.ab-anime-name{
    padding-left: 1rem;
}

/* main right section below  */

.main-right-section{
    width: 70%;
    background-color: #9da1a4;
    padding:1rem;
    margin:1rem;
}
