/* Styles for the ad */
* {
    font-family: 'Open Sans', sans-serif;
}

.body {
    background-image: url(/assets/img/bg.webp);
}

.ad-section {
    background-color: #ffff;
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.ad-text {
    margin-left: 10%;
    width: 45%;
}

.ad-paragraph {
    color: #9da1a4;
}

.container-sm {
    width: 45%;
    display: flex;
    justify-content: center;
}

.ad-sm {
    padding: 1rem 1rem 0 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.ad-facebook {
    color: #3B5999;
}

.ad-twitter {
    color: #55ACEE;
}

.ad-instagram {
    color: #E4405F;
}

.ad-sm-subtitle {
    align-self: flex-end;
}

.icon {
    position: absolute;
    font-size: 30px;
}

/* Styles for the header */

.head {
    background-color: #2F353A;
    display: flex;
    justify-content: space-around;
}

.head-logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-menu {
    width: 55%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.head-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.menu-link {
    text-decoration: none;
    opacity: 0.5;
}

.head-item>.menu-link:hover {
    opacity: 1;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.menu-item {
    list-style: none;
    color: #fff;
}

.form-search {
    background: #262A2E;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 0.5rem;
}


.menu-item-input {
    background-color: transparent;
    padding: 0.5rem;
    border: 0;
    caret-color: #fff;
}

.menu-item-input:focus {
    outline: none;
}

.menu-item-input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.form-btn {
    background-color: transparent;
    border: transparent;
    height: 100%;
    padding-right: 0.5rem;
    cursor: pointer;
    color: #fff;
}

.user-btn {
    padding: 1rem;
    background-color: #262A2E;
    border: 0;
    color: #fff;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    cursor: pointer;
}

.user-btn::after {
    content: "Login";
}

.item-fb {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.2rem;
    background: linear-gradient(to bottom, rgba(0, 130, 188, 1) 0%, rgba(30, 91, 156, 1) 100%);
}

/* main section below */

.main-container {
    display: flex;
    padding: 1rem;
    margin: 1rem;

}

/* main left section below */

.main-left-section {
    padding: 1rem;
    margin: 1rem;
    width: 16%;
}

.fb-ad {
    width: 100%;
}

.ad {
    width: 100%;
}

.ab-container {
    background-color: #fff;
}

.ab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid #f3f3f3;
}

.icon-title{
    color: #ff7e00;
}

.ab-single-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.ab-icon-name {
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.ab-tag {
    background-color: #01bcf3;
    color: #fff;
    padding: 0.1rem 1rem;
    width: 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: .8rem;
}

.ab-anime-name {
    padding-left: 1rem;
    font-weight: 100;
}

/* main right section below  */

.main-right-section {
    width: 70%;
    padding: 1rem;
    margin: 1rem;
}

.anime-section-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-episodes-title{
    color: #3b4248;
    font-size: 25px;
    font-weight: 100;
}

.anime-today {
    background-color: #01bcf3;
    padding: 0.5rem;
    width:5rem;
    text-align:center;
    text-transform: uppercase;
    color:white;
    font-weight:800;
    border-radius:1rem;
    font-size: 1em;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

.animes-column{
    display: flex;
    justify-content: space-around;
}

.animes {
    position: relative;
    
}

.anime-img{
    filter: drop-shadow(8px 8px 10px gray);
    -webkit-filter: drop-shadow(8px 8px 10px gray);
}

.anime-information{
    position: relative;
    margin-top:-5.5rem;
    margin-left:0.5rem;
}

.single-episode{
    background-color:orange;
    color:white;
    padding:0.3rem;
    width:5rem;
    text-align:center;
    font-weight:800;
    margin-bottom:-1rem;
    border-radius:1rem;
}

.single-title {
    color:white;
    font-size:1.3rem;
    font-weight:900;
    text-shadow: 0px 0px 1000px #01bcf3;
}